<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
            <h3>ระบบบริหารเงินกองกลาง</h3>
            <img src="{% static 'img/rtaf.png' %}" id="icon" alt="User Icon"/>
            </div>

            <!-- Login Form -->
            <form method = 'POST'>
                 {% csrf_token %}
                {{ form.username }}
                {{ form.password }}
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
        </div>
    </body>
</html>
